* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

.nav {
    width: 100%;
    height: 100px;
    /* background-color: honeydew; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-inline: 30px;
}

.nav h4 {
    font-size: 20px;
    font-weight: 500;
}

.nav i {
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50%;
}

.center {
    width: 100%;
    /* height: 40%; */
    /* background-color: royalblue; */
    padding: 40px 80px;
}

.center h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 85px;
}

.center-in {
    height: 200px;
    width: 100%;
    /* background-color: rebeccapurple; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.center-in p {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

.right {
    width: 30%;
}

.elem {
    /* background-color: orangered; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem i {
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}

.elem:hover i {
    opacity: 1;
}

.elem:hover {
    background-color: #cac0c0;
}

.elem a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.elem:hover a {
    text-decoration: underline;
}

.bpttom {
    width: 100%;
    height: 40%;
    background-color: red;
    background-image: url('https://images.unsplash.com/photo-1505964135045-cdada2f6bf43?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: 0 30%;
}